<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="src/scriptjs/index.js"></script>
    <script src="src/scriptjs/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/indexpc.css">
    <link rel="stylesheet" href="/css/indextel.css">
    <link rel="stylesheet" href="/css/indextab.css">
    <link rel="icon" href="/images/wowv2.png">
    <title>AdminPage - Epid Cavalry</title>
</head>
<body>
    <%- include('header_admin.ejs') %>

        <h1> Welcome Master</h1>

    <%- include('footer.ejs') %>
</body>
</html>