<div class="footer-dark">
    <footer>
        <div>
            <ul>
                <h3>Huyghe Louis & Rififi</h3>
                <tr>
                    <a href="https://github.com/louisHg" target="_blank">Github</a>
                    <a href="https://github.com/louisdeshayes" target="_blank">Github</a>
                </tr>
            </ul>
            <ul>
                <tr>
                    <a href="https://www.linkedin.com/in/louis-huyghe" target="_blank">Linkedin</a>
                    <a href="https://www.linkedin.com/in/louis-deshayes" target="_blank">Linkedin</a>
                </tr>
            </ul>        
            
            <p class="copyright">EPID CAVALRY © 2021 <br> in partnership with EPID CONNECTION & Chardino Editions</p>
        </div>
    </footer>
</div>