<header>
    <div class="topnav">
        <a href="/">Home</a>
        <div class="topnav-right">
          <form method="POST" action="/logout">
            <button type="text">
              <a>Log out</a>  
            </button>
          </form>
        </div>
        <div class="topnav-right">
          <a href="/profil">Profil</a>
        </div>
    </div>
</header>