<header>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/admin_users"> Users Handler</a>
        <a href="/admin_firms"> Firms Handler</a>
        <a href="/admin_ad"> Advertissements Handler</a>
        <a href="/admin_info"> Users Informations Handler</a>
        <div class="topnav-right">
          <form method="POST" action="/logout">
            <button type="text">
              <a>Log out</a>  
            </button>
          </form>
        </div>
        <div class="topnav-right">
          <a href="/">Profil</a>
        </div>
    </div>
</header>